body {
  margin: 0 !important;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Responsive */

/* Phone xs */
@media (max-width : 575.98px) {}

/* Phone sm */
@media (min-width : 575.98px) and (max-width : 767.98px) {

  /* List Todo */
  .list-container {
    margin-bottom: 5vh;
  }
  .box {
    width: 30px;
    height: 26px;
  }

  .title {
    line-height: 35px;
    font-size: larger;
  }

}

/* Tablet md */
@media (min-width : 767.98px) and (max-width : 991.98px) {}

/* Laptop lg*/
@media (min-width : 991.98px) and (max-width : 1199.98px) {}

/* Monitor xl */
@media (min-width : 1199.98px) and (max-width : 1399.98px) {}

/* Monitor++ xxl */
@media (min-width : 1399.98px) and (max-width : 1599.98px) {}

/* Monitor fhd */
@media (min-width : 1599.98px) {}

/* Monitor 4k */
@media (min-width : 2559.98px) {}




/* End responsive */